<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.mapper.AdminMapper">
    <update id="updatePwd">
        update `admin` set `password`=#{password} where `username`=#{username}
    </update>
    <select id="loginTwo" resultType="admin">
        SELECT * FROM `admin` where `username`=#{username}
    </select>
    <select id="login" resultType="admin">
        SELECT * FROM `admin` where `username`=#{username}
    </select>
    <select id="getOrderVolume" resultType="integer">
        select count(*) from `orders`
    </select>
    <select id="getGuestVolume" resultType="integer">
        select count(*) from `guest`
    </select>
    <!--<select id="selectRtypeByGender" resultType="java.util.Map">-->
    <!--    select r.rtype type,count(1) ct FROM `guest` g ,`room` r WHERE g.rid=r.rid  GROUP BY r.rtype-->
    <!--</select>-->
    <select id="selectRtypeByGender" resultType="java.util.Map">
        select r.rtype type,count(1) ct FROM `room` r WHERE r.rstate="0"  GROUP BY r.rtype
    </select>
    <select id="selectRtypeBy1" resultType="java.util.Map">
        select r.rtype type,count(1) ct FROM `room` r WHERE r.rstate="1"  GROUP BY r.rtype
    </select>
    <select id="getAllRtype" resultType="java.lang.String">
        select rtype from `room` group by `rtype`
    </select>
    <select id="selectByAid" resultType="com.patrick.bean.Admin">
        select * from `admin`  where `aid`=#{aid}
    </select>


    <insert id="insert" parameterType="admin" useGeneratedKeys="true" keyColumn="aid" keyProperty="aid">
        insert into `admin`(`username`,`password`) values (#{username},#{password})
    </insert>



</mapper>