<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.mapper.FacilityMapper">
    <insert id="insert">
        insert into `facility`(`fname`,`fnum`,`fvalue`,`favatar`) VALUES (#{fname},#{fnum},#{fvalue},#{favatar})
    </insert>

    <insert id="insertFacilityAndRoom">
        insert into  `room_facility`(`rid`,`fid`) values (#{rid},#{fid})
    </insert>

    <update id="updata">
        update `facility` set `fname`=#{fname},`fnum`=#{fnum},`fvalue`=#{fvalue},`favatar`=#{favatar} where `fid`=#{fid}
    </update>

    <delete id="delete">
        delete from `facility` where `fid`=#{fid}
    </delete>

    <delete id="deleteAllRoom">
        delete from `room_facility` where `rid`=#{rid}
    </delete>
    <select id="selectAll" resultType="facility">
        select * from `facility`
        <where>
            <if test="flag!=null">
                `fname` LIKE concat('%',#{flag},'%')
            </if>
        </where>
    </select>
    <select id="selectById" resultType="facility">
        select * from `facility` where `fid`=#{fid}
    </select>

</mapper>