<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.mapper.FacilityMapper">
    <insert id="insert">
        insert into `facility`(`fname`,`fnum`,`fvalue`,`favatar`) VALUES (#{fname},#{fnum},#{fvalue},#{favatar})
    </insert>

    <insert id="insertFacilityAndRoom">
        insert into  `room_facility`(`rid`,`fid`) values (#{rid},#{fid})
    </insert>

    <update id="updata">
        update `facility` set `fname`=#{fname},`fnum`=#{fnum},`fvalue`=#{fvalue},`favatar`=#{favatar} where `fid`=#{fid}
    </update>

    <delete id="delete">
        delete from `facility` where `fid`=#{fid}
    </delete>

    <delete id="deleteAllRoom">
        delete from `room_facility` where `rid`=#{rid}
    </delete>
    <select id="selectAll" resultMap="facilityRoom">
        select * from `facility`
        <where>

            <if test="flag!=null">
                `fname` LIKE concat('%',#{flag},'%')
                or  `fvalue` LIKE concat('%',#{flag},'%')
            </if>
        </where>
    </select>
    <select id="selectById" resultType="facility">
        select * from `facility` where `fid`=#{fid}
    </select>


    <resultMap id="facilityRoom" type="facility">
        <id column="fid" property="fid" />
        <collection property="roomList" column="fid" ofType="room" select="facilityByRoom" />
    </resultMap>

    <select id="facilityByRoom" resultType="room">
        select * from room_facility rf
                          right JOIN room r  on rf.rid=r.rid where rf.fid=#{fid}

    </select>
    <!--<select id="selectFacilityByRooms" resultMap="facilityRoom">-->
    <!--    select * from facility f LEFT JOIN room_facility rf on  f.fid =rf.fid-->
    <!--                             LEFT JOIN room r on rf.rid=r.rid-->
    <!--</select>-->

</mapper>