<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.mapper.GuestMapper">
    <insert id="insert">
        INSERT INTO `guest`(`gname`,`ggender`,`gno`,`gphone`,`gstart`,`gend`,`rid`,`ono`) VALUES (#{gname},#{ggender},#{gno},#{gphone},#{gstart},#{gend},#{rid},#{ono})
    </insert>
    <update id="update">
        UPDATE `guest` SET `gname`=#{gname},
                           `ggender`=#{ggender},
                           `gno`=#{gno},
                           `gphone`=#{gphone},
                           `gstart`=#{gstart},
                           `gend`=#{gend},
                           `rid`=#{rid},`ono`=#{ono} WHERE `gid`=#{gid}
    </update>
    <update id="updateGstate">
        UPDATE `guest` SET `gstate`= #{gstate} WHERE `ono`=#{ono}
    </update>


    <delete id="delete">
        UPDATE `guest` SET `gstate`="2" WHERE `gid`=#{gid}
    </delete>

    <resultMap id="guestMap" type="guest">
        <id column="gid" property="gid"/>
        <result column="rid" property="rid" />
        <association column="rid" property="room" javaType="room" select="com.patrick.mapper.RoomMapper.selectById">
        </association>
    </resultMap>

    <select id="selectAll" resultMap="guestMap">
        SELECT * FROM `guest`
        <where>
            <if test="flag!=null">
                `gname` LIKE concat('%',#{flag},'%')
        or  `gno` LIKE concat('%',#{flag},'%')
                or  `gphone` LIKE concat('%',#{flag},'%')
                or  `ggender` LIKE concat('%',#{flag},'%')
            </if>
        </where>
    </select>
    <select id="selectByName" resultType="guest">
        SELECT * FROM `guest` WHERE `gname`=#{gname}
    </select>
    <select id="selectById" resultMap="guestMap">
        SELECT * FROM `guest` WHERE `gid`=#{gid}
    </select>
    <select id="selectByRid" resultMap="guestMap">
        SELECT * FROM `guest` WHERE `rid`=#{rid} AND (`gstate`="1" OR `gstate`="0")
    </select>
    <select id="selectByNo" resultType="guest">
        SELECT * FROM `guest` WHERE `gno`=#{gno}
    </select>
    <select id="selectByGnoAndOno" resultType="guest">
        SELECT * FROM `guest` WHERE   `ono`=#{ono} And `gno`=#{gno}
    </select>

    <select id="selectByOno" resultType="guest">
        SELECT * FROM `guest` WHERE `ono`=#{ono}
    </select>
</mapper>