<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.mapper.InfoMapper">
    <insert id="insert">
        insert into `info`(`name`,`gender`,`no`,`phone`,`addr`,`aid`,`avatar`) VALUES (#{name},#{gender},#{no},#{phone},#{addr},#{aid},#{avatar})
    </insert>
    <update id="update">
        update `info` set `name`=#{name},`gender`=#{gender},`no`=#{no},`phone`=#{phone},`addr`=#{addr} where `aid`=#{aid}
    </update>
    <delete id="delete">
        delete from `info` where aid=#{aid}
    </delete>
    <select id="selectById" resultType="info">
        select * from `info` where aid=#{aid}
    </select>

    <resultMap id="adminInfo" type="admin">
        <id column="aid" property="aid"/>
        <association column="aid" property="info" javaType="info" select="com.patrick.mapper.InfoMapper.selectById">
        </association>
    </resultMap>
    <select id="selectByUsername" resultMap="adminInfo">
        select * from `admin` where `aid`=#{id}
    </select>

    <resultMap id="infoAdmin" type="info">
        <id column="id" property="id"/>
        <result column="aid" property="aid"/>
        <association property="admin" column="aid" javaType="admin" select="com.patrick.mapper.AdminMapper.selectByAid"></association>
    </resultMap>
    <select id="selectAll" resultMap="infoAdmin">
        select * from `info`
        <where>
            <if test="flag!=null">
                `name` LIKE concat('%',#{flag},'%')
            </if>
        </where>
    </select>
    <select id="selectByID" resultType="com.patrick.bean.Info">
        select * from `info` where id=#{id}
    </select>
    <select id="selectByNo" resultType="com.patrick.bean.Info">
        select * from `info` where no=#{no}
    </select>

</mapper>