<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.mapper.OrdersMapper">
    <insert id="insert">
        INSERT INTO `orders`(`ono`,`gno`,`otime`,`moneys`,`rid`) VALUES (#{ono},#{gno},#{otime},#{moneys},#{rid})
    </insert>
    <update id="update">
        update  `orders` SET `ono`=#{ono},`gid`=#{gid},`otime`=#{otime},`rid`=#{rid} where `oid`=#{oid}
    </update>
    <delete id="delete">
        update  `orders` SET `ostate`="1" where `oid`=#{oid}
    </delete>

    <resultMap id="ordersMap" type="orders">
        <id column="oid" property="oid"/>
        <result column="gno" property="gno" />

        <collection column="gno" property="guests" ofType="guest"  select="com.patrick.mapper.GuestMapper.selectByNo">
        </collection>
    </resultMap>
    <select id="selectAll" resultMap="ordersMap">
        select * from `orders`
        <where>
            <if test="flag!=null">
                `gno` LIKE concat('%',#{flag},'%')
                or  `ono` LIKE concat('%',#{flag},'%')
            </if>
        </where>
    </select>
    <select id="selectByOno" resultType="orders">
        select * from `orders` where ono = #{ono}
    </select>


    <select id="selectById" resultMap="ordersMap">
        select * from `orders` where oid=#{oid}
    </select>



<!--&lt;!&ndash;    查询特定订单中的人员&ndash;&gt;-->
<!--    <select id="selectByOid" resultMap="OidByGuests">-->
<!--        select * from `order_guest` where oid=#{oid}-->
<!--    </select>-->

</mapper>