<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.mapper.RoomMapper">
    <insert id="insert">
        INSERT INTO `room`(`rno`,`ravatar`,`rtype`,`rprice`) VALUES (#{rno},#{ravatar},#{rtype},#{rprice})
    </insert>
    <update id="update">
        UPDATE `room` SET `rno`=#{rno},`ravatar`=#{ravatar},`rtype`=#{rtype},`rprice`=#{rprice},`rstate`=#{rstate} WHERE `rid`=#{rid}
    </update>
    <update id="updateRstate">
        UPDATE `room` SET `rstate`= #{rstate} WHERE `rid`=#{rid}
    </update>
    <delete id="delete">
        UPDATE `room` SET `rstate`= 3 WHERE `rid`=#{rid}
    </delete>

    <resultMap id="roomMap" type="room">
        <id column="rid" property="rid"/>
        <result column="rid" property="rid"/>
        <collection property="guestList" column="rid" ofType="guest" select="com.patrick.mapper.GuestMapper.selectByRid" />
        <collection property="facilityList" column="rid" ofType="facility" select="com.patrick.mapper.RoomMapper.selectByRoomFac" />
    </resultMap>
    <select id="selectAll" resultMap="roomMap">
        SELECT * FROM `room`
        <where>
            <if test="flag!=null">
                `rtype` LIKE concat('%',#{flag},'%')
                or  `rno` LIKE concat('%',#{flag},'%')
                or  `rprice` LIKE concat('%',#{flag},'%')
            </if>
        </where>
                 ORDER BY `rstate` ASC
    </select>


    <select id="selectByRno" resultType="room">
        SELECT * FROM `room` WHERE `rno` = #{rno}
    </select>
    <select id="selectById" resultType="room">
        SELECT * FROM `room` WHERE `rid` = #{rid}
    </select>
    <select id="selectByState" resultType="room">
        SELECT * FROM `room` WHERE `rstate` = #{rstate}
    </select>

<!--    获取房间信息-->
    <select id="selectByRoomFac" resultType="Facility">
        SELECT
            f.fid, f.fname, f.fnum,f.fvalue, f.favatar
        FROM
            facility f
                JOIN
            room_facility rf ON f.fid = rf.fid
        WHERE
            rf.rid = #{rid}
    </select>
</mapper>