<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.mapper.RoomMapper">
    <insert id="insert">
        INSERT INTO `room`(`rno`,`ravatar`,`rtype`,`rprice`) VALUES (#{rno},#{ravatar},#{rtype},#{rprice})
    </insert>
    <update id="update">
        UPDATE `room` SET `rno`=#{rno},`ravatar`=#{ravatar},`rtype`=#{rtype},`rprice`=#{rprice},`rstate`=#{rstate} WHERE `rid`=#{rid}
    </update>
    <update id="updateRstate">
        UPDATE `room` SET `rstate`= #{rstate} WHERE `rid`=#{rid}
    </update>
    <delete id="delete">
        UPDATE `room` SET `rstate`= 3 WHERE `rid`=#{rid}
    </delete>

    <resultMap id="roomMap" type="room">
        <id column="rid" property="rid"/>
        <collection property="guests" column="rid" ofType="guest" select="com.patrick.mapper.GuestMapper.selectByRid" />
    </resultMap>
    <select id="selectAll" resultMap="roomMap">
        SELECT * FROM `room` ORDER BY `rstate` ASC
    </select>


    <select id="selectByRno" resultType="room">
        SELECT * FROM `room` WHERE `rno` = #{rno}
    </select>
    <select id="selectById" resultType="room">
        SELECT * FROM `room` WHERE `rid` = #{rid}
    </select>
    <select id="selectByState" resultType="room">
        SELECT * FROM `room` WHERE `rstate` = #{rstate}
    </select>
</mapper>