<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.mapper.UserMapper">

    <resultMap id="roomMap" type="room">
        <id column="rid" property="rid"/>
        <collection property="facilityList" column="rid" ofType="facility" select="com.patrick.mapper.RoomMapper.selectByRoomFac" />
    </resultMap>
    <select id="selectAll" resultMap="roomMap">
        select * from `room` where `rstate`="0"
    </select>

    <!--<resultMap id="orderMy" type="orders">-->
    <!--    <id column="id" property="oid"/>-->
    <!--    <result column="rid" property="rid" />-->
    <!--    <association column="rid" property="room" javaType="room" select="com.patrick.mapper.RoomMapper.selectById">-->
    <!--    </association>-->
    <!--</resultMap>-->
    <!--<select id="selectMyAll" resultMap="orderMy">-->
    <!--    SELECT * from-->
    <!--                 `orders` o left JOIN 	`room` r on o.rid=r.rid ,`info` i WHERE o.gno=#{gno}-->
    <!--</select>-->
    <resultMap id="orderMy" type="orders">
        <id column="ono" property="ono"/>
        <result column="rid" property="rid" />
        <association column="rid" property="room" javaType="room" select="com.patrick.mapper.RoomMapper.selectById">
        </association>

        <collection property="guests" column="ono" ofType="guest" select="com.patrick.mapper.GuestMapper.selectByOno" />

    </resultMap>
    <select id="selectMyAll" resultMap="orderMy">
        select * from `orders` where `gno`=#{gno}
    </select>
</mapper>