<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.mapper.UserMapper">

    <resultMap id="roomMap" type="room">
        <id column="rid" property="rid"/>
        <collection property="facilityList" column="rid" ofType="facility" select="com.patrick.mapper.RoomMapper.selectByRoomFac" />
    </resultMap>
    <select id="selectAll" resultMap="roomMap">
        select * from `room` where `rstate`="0"
    </select>

    <!--<resultMap id="orderMy" type="orders">-->
    <!--    <id column="id" property="oid"/>-->
    <!--    <result column="rid" property="rid" />-->
    <!--    <association column="rid" property="room" javaType="room" select="com.patrick.mapper.RoomMapper.selectById">-->
    <!--    </association>-->
    <!--</resultMap>-->
    <!--<select id="selectMyAll" resultMap="orderMy">-->
    <!--    SELECT * from-->
    <!--                 `orders` o left JOIN 	`room` r on o.rid=r.rid ,`info` i WHERE o.gno=#{gno}-->
    <!--</select>-->
    <resultMap id="orderMy" type="orders">
        <id column="oid" property="oid"/>
        <result column="rid" property="rid" />
        <association column="rid" property="room" javaType="room" select="com.patrick.mapper.RoomMapper.selectById">
        </association>
        <association column="oid" property="guests" javaType="guest" select="com.patrick.mapper.GuestMapper.selectByOid">
        </association>
    </resultMap>
    <select id="selectMyAll" resultMap="orderMy">
        select * from `orders` where `aid`=#{aid}
    </select>
</mapper>